<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProfile</display-name>
    <servlet-name>UserProfile</servlet-name>
    <servlet-class>UserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfile</servlet-name>
    <url-pattern>/UserProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signup</display-name>
    <servlet-name>signup</servlet-name>
    <servlet-class>signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>passwordRecovery</display-name>
    <servlet-name>passwordRecovery</servlet-name>
    <servlet-class>passwordRecovery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>passwordRecovery</servlet-name>
    <url-pattern>/passwordRecovery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>generateToken</display-name>
    <servlet-name>generateToken</servlet-name>
    <servlet-class>generateToken</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>generateToken</servlet-name>
    <url-pattern>/generateToken</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordRecovery</display-name>
    <servlet-name>PasswordRecovery</servlet-name>
    <servlet-class>PasswordRecovery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordRecovery</servlet-name>
    <url-pattern>/PasswordRecovery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePassword</display-name>
    <servlet-name>UpdatePassword</servlet-name>
    <servlet-class>UpdatePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePassword</servlet-name>
    <url-pattern>/UpdatePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createfile</display-name>
    <servlet-name>createfile</servlet-name>
    <servlet-class>createfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createfile</servlet-name>
    <url-pattern>/createfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editFile</display-name>
    <servlet-name>editFile</servlet-name>
    <servlet-class>editFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editFile</servlet-name>
    <url-pattern>/editFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>upload</display-name>
    <servlet-name>upload</servlet-name>
    <servlet-class>upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>copyFiles</display-name>
    <servlet-name>copyFiles</servlet-name>
    <servlet-class>copyFiles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>copyFiles</servlet-name>
    <url-pattern>/copyFiles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createFolder</display-name>
    <servlet-name>createFolder</servlet-name>
    <servlet-class>createFolder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createFolder</servlet-name>
    <url-pattern>/createFolder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>download</display-name>
    <servlet-name>download</servlet-name>
    <servlet-class>download</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>download</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sendEmail</display-name>
    <servlet-name>sendEmail</servlet-name>
    <servlet-class>sendEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendEmail</servlet-name>
    <url-pattern>/sendEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadToDBServlet</display-name>
    <servlet-name>UploadToDBServlet</servlet-name>
    <servlet-class>UploadToDBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadToDBServlet</servlet-name>
    <url-pattern>/UploadToDBServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadToDBResultsServlet</display-name>
    <servlet-name>UploadToDBResultsServlet</servlet-name>
    <servlet-class>UploadToDBResultsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadToDBResultsServlet</servlet-name>
    <url-pattern>/UploadToDBResultsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadDBServlet</display-name>
    <servlet-name>FileUploadDBServlet</servlet-name>
    <servlet-class>FileUploadDBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadDBServlet</servlet-name>
    <url-pattern>/FileUploadDBServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>upload1</display-name>
    <servlet-name>upload1</servlet-name>
    <servlet-class>upload1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload1</servlet-name>
    <url-pattern>/upload1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uploadServelet</display-name>
    <servlet-name>uploadServelet</servlet-name>
    <servlet-class>uploadServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadServelet</servlet-name>
    <url-pattern>/uploadServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadFileServlet</display-name>
    <servlet-name>DownloadFileServlet</servlet-name>
    <servlet-class>DownloadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadFileServlet</servlet-name>
    <url-pattern>/DownloadFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ZipDownloadServlet</display-name>
    <servlet-name>ZipDownloadServlet</servlet-name>
    <servlet-class>ZipDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZipDownloadServlet</servlet-name>
    <url-pattern>/ZipDownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>downloadPrivate</display-name>
    <servlet-name>downloadPrivate</servlet-name>
    <servlet-class>downloadPrivate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadPrivate</servlet-name>
    <url-pattern>/downloadPrivate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>downloadPublic</display-name>
    <servlet-name>downloadPublic</servlet-name>
    <servlet-class>downloadPublic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadPublic</servlet-name>
    <url-pattern>/downloadPublic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testZipFolder</display-name>
    <servlet-name>testZipFolder</servlet-name>
    <servlet-class>testZipFolder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testZipFolder</servlet-name>
    <url-pattern>/testZipFolder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadMultipleFiles2</display-name>
    <servlet-name>DownloadMultipleFiles2</servlet-name>
    <servlet-class>DownloadMultipleFiles2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadMultipleFiles2</servlet-name>
    <url-pattern>/DownloadMultipleFiles2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uploadToPrivate</display-name>
    <servlet-name>uploadToPrivate</servlet-name>
    <servlet-class>uploadToPrivate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadToPrivate</servlet-name>
    <url-pattern>/uploadToPrivate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uploadToPublic</display-name>
    <servlet-name>uploadToPublic</servlet-name>
    <servlet-class>uploadToPublic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadToPublic</servlet-name>
    <url-pattern>/uploadToPublic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editProfile</display-name>
    <servlet-name>editProfile</servlet-name>
    <servlet-class>editProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editProfile</servlet-name>
    <url-pattern>/editProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadFilesFromRepostitories</display-name>
    <servlet-name>DownloadFilesFromRepostitories</servlet-name>
    <servlet-class>DownloadFilesFromRepostitories</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadFilesFromRepostitories</servlet-name>
    <url-pattern>/DownloadFilesFromRepostitories</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadAllFilesFromRepostitories</display-name>
    <servlet-name>DownloadAllFilesFromRepostitories</servlet-name>
    <servlet-class>DownloadAllFilesFromRepostitories</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadAllFilesFromRepostitories</servlet-name>
    <url-pattern>/DownloadAllFilesFromRepostitories</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>downloadFiles</display-name>
    <servlet-name>downloadFiles</servlet-name>
    <servlet-class>downloadFiles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadFiles</servlet-name>
    <url-pattern>/downloadFiles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>helloworld</display-name>
    <servlet-name>helloworld</servlet-name>
    <servlet-class>helloworld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloworld</servlet-name>
    <url-pattern>/helloworld</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>downloadAllFiles</display-name>
    <servlet-name>downloadAllFiles</servlet-name>
    <servlet-class>downloadAllFiles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadAllFiles</servlet-name>
    <url-pattern>/downloadAllFiles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadMultipleFiles3</display-name>
    <servlet-name>DownloadMultipleFiles3</servlet-name>
    <servlet-class>DownloadMultipleFiles3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadMultipleFiles3</servlet-name>
    <url-pattern>/DownloadMultipleFiles3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mockito</display-name>
    <servlet-name>mockito</servlet-name>
    <servlet-class>mockito</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mockito</servlet-name>
    <url-pattern>/mockito</url-pattern>
  </servlet-mapping>
</web-app>
